/*--------------------algemeen--------------------*/

*{
margin: 0;
}

body{
    font-family: nexa-light;
    background-color: #f3e5d9;
}

li{
    list-style-type: none;
}

@font-face{
    font-family: nexa-light; 
    src: local("nexa-light-webfont.ttf"), url("nexa-light-webfont.ttf");
} 

@font-face{
    font-family: nexa-bold;
    src: local("nexa-bold-webfont.ttf"),
    url("nexa-bold-webfont.ttf");
}

main{
    text-align: center;
    padding-top: 5em;
}

h1{
    color: #00d66c;
    font-family: nexa-bold;
}

h2{
    font-family: nexa-bold;
}

h3{
    font-family: nexa-bold; 
}

a{
    text-decoration: none;
    color: black;
}

main h2{
    padding-top: 1em;
}


/*--------------------buttons--------------------*/

button{
    display: block;
    margin: 1.5em auto;
    background-color: #2e089a;
    color: #ffffff;
    font-size: 01em;
    padding: 0.5em 1.5em;
    border-radius: 2em;
    transition: 0.3s;
    cursor: pointer;
    -webkit-appearance: none;
}

button:hover{
    background-color: #6142b2;
    background-color: #6142b2;
}


/*--------------------header--------------------*/

header{
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0.3125em 0.625em 0 rgba(0,0,0,.15);
}

header nav ul{
    padding-left: 0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

header nav img{
    width: 2em;
    display: flex;
    justify-content: space-between;
}

.image-header{
    padding-top: 6em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    background-image: url(../images/uitzicht.jpg);
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.image-header article{
    padding: 1em 2em;
    background-color: rgba(255, 255, 255, .9);
}

section > img{
    height: 5em;
    padding-top: 2em;
}

.image-header article img {
    position: static;
    width: 10em;
}

.image-header article button {
    margin: 0 auto;
}

.image-header article button:hover {
    background: transparent;
    padding: 0;
}


/*--------------------filters--------------------*/

section h2{
    text-align: center;
    padding-top: 1em;
}

section form{
    text-align: center;
    margin: 1.5em;
}

.filters{
    padding-top: 6em;
}

select{
    width: 100%;
    margin: 0.5em 0;
    border: 0.0625em solid #91a3b7;
    color: #606060;
    font-size: 0.9em;
    border-radius: 0.5em;
}

article:first-of-type > img{
    width: 2em;
    display: block;
    margin: 0 auto;
    border-radius: 0;
}

/*--------------------cards--------------------*/

article{
    background-color: #ffffff;
    border-radius: 2em;
    margin: 1.5em;
    color: #000000;
    box-shadow: 0 0.3125em 0.625em 0 rgba(0,0,0,.15);
    position: relative; 
}

article img{
    width: 100%;
    border-radius: 2em 2em 0 0;
    cursor: pointer;
}

article button img{
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    width: 2em;
    border-radius: 0;
    cursor: pointer;
    margin-bottom: 1em;
}

article button {
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}

article h3{
    text-align: center;
    padding: 0.5em;
}

main section article{
    transition: 0.3s;
    cursor: pointer;
}

main section article:hover{
    box-shadow: 0 0.3125em 0.625em 0 rgba(0,0,0,.50);
}

main section{
    margin-bottom: 2em;
}

.comments{
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    width: 2.5em;
    border-radius: 0;
    cursor: pointer;
    margin-bottom: 1em;
}

/*--------------------profiel--------------------*/


fieldset{
    border: none;
    padding: 0;
      background-color: #ffffff;
    border-radius: 2em;
    box-shadow: 0 0.3125em 0.625em 0 rgba(0,0,0,.15);
    margin-bottom: 3em;
}

section form h2{
    background-color: #00d66c;
    padding: 0.5em 0;
    color: #ffffff;
    border-radius: 2rem 2rem 0em 0em;
}

section form fieldset label{
    display: block;
    padding: 0.7em;
    font-family: nexa-bold;
}

input[type="submit"]{
    display: block;
    margin: 1.5em auto;
    background-color: #2e089a;
    color: #ffffff;
    font-size: 1em;
    padding: 0.5em 1.5em;
    border-radius: 2em;
    transition: 0.3s;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #6142b2;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
    min-height: 2em;
    padding: 0 0.5em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 2px solid #91a3b7;
    outline: none;
}

input[type="text"]:required,
input[type="password"]:required,
input[type="email"]:required,
input[type="date"]:required {
    border: 2px solid #91a3b7;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="date"]:hover {
    border: 2px solid #2800a0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"]:focus {
    border: 2px solid #2800a0;
}

input[type="text"]:valid,
input[type="password"]:valid,
input[type="email"]:valid,
input[type="date"]:valid {
    border: 2px solid #00d66c;
}


/*--------------------like popup--------------------*/

#like-popup {
    opacity: 0;
    padding: 1em;
    background-color: #ff2767;
    color: white;
    border-radius: 2em;
    max-width: 20em;
    position: fixed;
    bottom: 3em;
    left: 3em;
    pointer-events: none;
    font-size: 0.85em;
}

#like-popup a {
    color: white;
    text-decoration: underline;
}

#like-popup h2 {
    padding-top: 0;
}

#like-popup.active{
    pointer-events: auto;
    animation: popup 2000ms forwards;
}

@keyframes popup {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*--------------------responsive homepagina--------------------*/

@media (min-width: 70em){
     main > section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } 
    
}

@media (min-width: 40em) and (max-width: 70em){
    main > section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
}

/*--------------------responsive verhalen--------------------*/

main > img{
    display: none;
    border: none;
}

main > img:first-child{
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 40em){
    main > img:first-child{
        display: none;
    }
    main >img:nth-of-type(2){
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width: 70em){
    main > img:first-child{
        display: none;
    }
    main >img:nth-of-type(2){
        display: none;
    }
    main >img:nth-of-type(3){
        display: block;
        margin: 0 auto;
    }
}

/*--------------------download button--------------------*/

main > button {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 2em auto 0;
    border-radius: 0;
    width: 15em;
}

main > button img {
    width: 70%;
    margin-bottom: 2em;
}

main > button:hover {
    background: transparent;
}


/*--------------------achtergronden--------------------*/

main.verliefd-achtergrond{
    background-color: #e3cd9f;
    padding-top: 6em;
}

main.alzheimer-achtergrond{
    background-color: #e8e6e4;
    padding-top: 6em;
}

main.doof-achtergrond{
    background-color: #ffffff;
    padding-top: 6em;   
}

main.profiel-achtergrond{
    background-image: url(../images/palmboom.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 6em;
}


/*--------------------footer--------------------*/

footer > img {
    width: 7.5em;
    margin: 1em;
}

footer{
    text-align: center;
    background-color: #ffffff;
}